<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <style>@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);</style>
  </head>
  
  <body>
    <header>
    <div class="nav">
      <div class="nav-bar">
        <button class="titleLeft" onclick="window.location.href='http://3.106.73.167:3000/'">台北一日遊</button>
      <div class="titleRight">
        <div class="item"><a href="#" class="btn">預定行程 &nbsp;&nbsp;&nbsp; </a></div>
        <div class="item"><a href="#" class="btn">登入/註冊</a></div>
      </div>
      </div>
      </div>  
    </div>
    <div class="welcome-img">
    <div class="slogan">
        <div class="title1">輕鬆享受台北一日悠閒
            <br/>
            <br/>
            <br/>
        </div>
        <span class="title2">探索每個角落，體驗城市的深度旅遊行程
        </span>
        <div class="search-bar">
        <input type="text" id="search" name="search1" placeholder="輸入景點名稱查詢">
        <button id="search-btn" type="button"><img id="search-img" src="../static/pic/icon_search.png"/></button>
    </div>
    </div>
    </div>
</header>
<main>
  <div class="mrt-list">
    <div class="list-bar">
        <div class="left-button"><button id="left-btn" class="scroll-btn"><img src="../static/pic/left_arrow.png" /></button></div>
        <div class="mrt-scroll-container">
        <div class="container" id="mrt-container"></div>
        </div>
        <div class="right-button"><button id="right-btn" class="scroll-btn"><img src="../static/pic/right_arrow.png"/></button></div>

    </div>
  </div>
    <div class="row">
        <div class="col">
    <div class="main-content">
        <div id="attractions" class="attraction">
    </div>
</div>
    </div>
</div>
</main>
<footer id="footer">
    <div id="footer-div">COPYRIGHT © 2023 台北一日遊</div>
</footer>
<script src="../static/js/index.js"></script>
  </body>
</html>


